.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container > label > input{
  display: block;
  height: 40px;
  width: 100%;
  margin-bottom: 16px;
  font-size: 18px;  
}

.container > button{
  height: 48px;
  width: 100%;
  font-size: 18px;
  margin-top: 16px;
  border-color: #009ee3;
  background-color: #009ee3;
  color: #fff;
}
