.container {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 16px;
}

.container > label > input {
  display: block;
  height: 40px;
  width: 100%;
  margin-bottom: 16px;
  font-size: 18px;
}

.container > a {
  height: 48px;
  width: 100%;
  font-size: 18px;
  margin-top: 16px;
  border-color: #009ee3;
  background-color: #009ee3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > select {
  width: 100%;
  height: 48px;
  font-size: 18px;
}
